Repository JMazurkiewicz/TinDox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JMazurkiewicz, @dam1508, @annapyrka, @LukaszReszka

Implementation of `mkdir` command
  server/CMakeLists.txt
  server/include/tds/protocol/default_command_executor.hpp
  server/include/tds/protocol/execution/mkdir.hpp
  server/include/tds/protocol/protocol_code.hpp
  server/include/tds/server/client_service.hpp
  server/src/protocol/execution/mkdir.cpp
  server/src/protocol/protocol_error.cpp
Owners: @JMazurkiewicz

Made new commands easier to implement
  server/include/tds/protocol/execution/command_base.hpp
  server/include/tds/protocol/execution/command_executor.hpp
  server/src/protocol/execution/auth.cpp
  server/src/protocol/execution/cd.cpp
  server/src/protocol/execution/command_base.cpp
  server/src/protocol/execution/exit.cpp
  server/src/protocol/execution/logout.cpp
  server/src/protocol/execution/ls.cpp
  server/src/protocol/execution/mkdir.cpp
  server/src/protocol/execution/name.cpp
  server/src/protocol/execution/pwd.cpp
Owners: @JMazurkiewicz

Added `bye` command - an alias to `exit` and first alias
  server/include/tds/protocol/default_command_executor.hpp
  server/include/tds/protocol/execution/bye.hpp
Owners: @JMazurkiewicz

Better debug info
  server/src/server/client.cpp
  server/src/server/client_service.cpp
Owners: @JMazurkiewicz

New commands: `mkdir` and `bye` (#97)
  server/CMakeLists.txt
  server/include/tds/protocol/default_command_executor.hpp
  server/include/tds/protocol/execution/bye.hpp
  server/include/tds/protocol/execution/command_base.hpp
  server/include/tds/protocol/execution/command_executor.hpp
  server/include/tds/protocol/execution/mkdir.hpp
  server/include/tds/protocol/protocol_code.hpp
  server/include/tds/server/client_service.hpp
  server/src/protocol/execution/auth.cpp
  server/src/protocol/execution/cd.cpp
  server/src/protocol/execution/command_base.cpp
  server/src/protocol/execution/exit.cpp
  server/src/protocol/execution/logout.cpp
  server/src/protocol/execution/ls.cpp
  server/src/protocol/execution/mkdir.cpp
  server/src/protocol/execution/name.cpp
  server/src/protocol/execution/pwd.cpp
  server/src/protocol/protocol_error.cpp
  server/src/server/client.cpp
  server/src/server/client_service.cpp
Owners: @JMazurkiewicz

stil working on analyzer...
  cli/src/main.cpp
  cli/src/tdpservice/connection.cpp
  cli/src/tdpservice/connectionerror.h
  cli/src/tdpservice/responseanalyzer.cpp
  cli/src/tdpservice/responseanalyzer.h
  cli/src/tdpservice/tdpservice.cpp
Owners: @LukaszReszka

stil working on analyzer... (#99)
  cli/src/main.cpp
  cli/src/tdpservice/connection.cpp
  cli/src/tdpservice/connectionerror.h
  cli/src/tdpservice/responseanalyzer.cpp
  cli/src/tdpservice/responseanalyzer.h
  cli/src/tdpservice/tdpservice.cpp
Owners: @LukaszReszka

Implemented `cp` command
  server/CMakeLists.txt
  server/include/tds/protocol/default_command_executor.hpp
  server/include/tds/protocol/execution/cp.hpp
  server/include/tds/protocol/execution/transport_command.hpp
  server/include/tds/protocol/protocol_code.hpp
  server/src/protocol/execution/cp.cpp
  server/src/protocol/execution/transport_command.cpp
  server/src/protocol/protocol_error.cpp
  server/src/server/client.cpp
Owners: @JMazurkiewicz

Implemented `mv` command
  server/CMakeLists.txt
  server/include/tds/protocol/default_command_executor.hpp
  server/include/tds/protocol/execution/mv.hpp
  server/src/protocol/execution/mv.cpp
Owners: @JMazurkiewicz

Drive-by: try to reuse address of TcpListener
  server/src/ip/tcp_listener.cpp
Owners: @JMazurkiewicz

Drive-by: added error checking for setsockopt
  server/src/ip/tcp_listener.cpp
  server/src/ip/tcp_socket.cpp
Owners: @JMazurkiewicz

Fixed relative path handling by path-based commands And added common base class for such commands
  server/CMakeLists.txt
  server/include/tds/protocol/execution/cd.hpp
  server/include/tds/protocol/execution/cp.hpp
  server/include/tds/protocol/execution/ls.hpp
  server/include/tds/protocol/execution/mv.hpp
  server/include/tds/protocol/execution/path_based_command.hpp
  server/include/tds/protocol/execution/transport_command.hpp
  server/src/protocol/execution/cd.cpp
  server/src/protocol/execution/ls.cpp
  server/src/protocol/execution/path_based_command.cpp
  server/src/protocol/execution/transport_command.cpp
Owners: @JMazurkiewicz

Minor fixes
  server/src/protocol/execution/transport_command.cpp
Owners: @JMazurkiewicz

New commands: `cp` and `mv` (#100)
  server/CMakeLists.txt
  server/include/tds/protocol/default_command_executor.hpp
  server/include/tds/protocol/execution/cd.hpp
  server/include/tds/protocol/execution/cp.hpp
  server/include/tds/protocol/execution/ls.hpp
  server/include/tds/protocol/execution/mv.hpp
  server/include/tds/protocol/execution/path_based_command.hpp
  server/include/tds/protocol/execution/transport_command.hpp
  server/include/tds/protocol/protocol_code.hpp
  server/src/ip/tcp_listener.cpp
  server/src/ip/tcp_socket.cpp
  server/src/protocol/execution/cd.cpp
  server/src/protocol/execution/cp.cpp
  server/src/protocol/execution/ls.cpp
  server/src/protocol/execution/mv.cpp
  server/src/protocol/execution/path_based_command.cpp
  server/src/protocol/execution/transport_command.cpp
  server/src/protocol/protocol_error.cpp
  server/src/server/client.cpp
Owners: @JMazurkiewicz

cli
  cli/src/main.cpp
  cli/src/tdpservice/responseanalyzer.cpp
  cli/src/tdpservice/responseanalyzer.h
  cli/src/tdpservice/tdpservice.cpp
  cli/src/tdpservice/tdpservice.h
Owners: @LukaszReszka

cli (#101)
  cli/src/main.cpp
  cli/src/tdpservice/responseanalyzer.cpp
  cli/src/tdpservice/responseanalyzer.h
  cli/src/tdpservice/tdpservice.cpp
  cli/src/tdpservice/tdpservice.h
Owners: @LukaszReszka

small fix
  cli/src/main.cpp
  cli/src/tdpservice/connection.cpp
  cli/src/tdpservice/responseanalyzer.cpp
Owners: @LukaszReszka

small fix (#102)
  cli/src/main.cpp
  cli/src/tdpservice/connection.cpp
  cli/src/tdpservice/responseanalyzer.cpp
Owners: @LukaszReszka

License update (#84)
  LICENSE
Owners: @JMazurkiewicz, @dam1508, @annapyrka, @LukaszReszka

Fixed `.gitignore` (#73)
  .gitignore
Owners: @JMazurkiewicz, @dam1508, @annapyrka, @LukaszReszka

Better `.editorconfig` (#46)
  .editorconfig
Owners: @JMazurkiewicz, @dam1508, @annapyrka, @LukaszReszka

Added test case
  server/tests/unit/protocol/protocol_interpreter_test.cpp
Owners: @JMazurkiewicz

Fixed test - excluded null from interpreter input
  server/src/protocol/protocol_interpreter.cpp
  server/tests/unit/protocol/protocol_interpreter_test.cpp
Owners: @JMazurkiewicz

Added extra test case for protocol interpreter (#104)
  server/src/protocol/protocol_interpreter.cpp
  server/tests/unit/protocol/protocol_interpreter_test.cpp
Owners: @JMazurkiewicz

Removed dummy prints
  server/src/protocol/protocol_interpreter.cpp
Owners: @JMazurkiewicz

Removed unnecessary prints (#106)
  server/src/protocol/protocol_interpreter.cpp
Owners: @JMazurkiewicz

small fixes
  cli/.gitignore
  cli/src/tdpservice/connection.cpp
Owners: @LukaszReszka

simplifing and improving code ...
  cli/src/main.cpp
  cli/src/tdpservice/connection.cpp
  cli/src/tdpservice/connection.h
  cli/src/tdpservice/responseanalyzer.cpp
  cli/src/tdpservice/responseanalyzer.h
  cli/src/tdpservice/tdpservice.cpp
  cli/src/tdpservice/tdpservice.h
Owners: @LukaszReszka

Cli (#107)
  cli/.gitignore
  cli/src/main.cpp
  cli/src/tdpservice/connection.cpp
  cli/src/tdpservice/connection.h
  cli/src/tdpservice/responseanalyzer.cpp
  cli/src/tdpservice/responseanalyzer.h
  cli/src/tdpservice/tdpservice.cpp
  cli/src/tdpservice/tdpservice.h
Owners: @LukaszReszka

Cli
  cli/src/main.cpp
  cli/src/tdpservice/connectionerror.h
  cli/src/tdpservice/responseanalyzer.cpp
  cli/src/tdpservice/responseanalyzer.h
  cli/src/tdpservice/tdpservice.cpp
  cli/src/tdpservice/tdpservice.h
Owners: @LukaszReszka

Cli (#108)
  cli/src/main.cpp
  cli/src/tdpservice/connectionerror.h
  cli/src/tdpservice/responseanalyzer.cpp
  cli/src/tdpservice/responseanalyzer.h
  cli/src/tdpservice/tdpservice.cpp
  cli/src/tdpservice/tdpservice.h
Owners: @LukaszReszka

hotfix
  cli/src/tdpservice/tdpservice.cpp
Owners: @LukaszReszka

hotfix (#109)
  cli/src/tdpservice/tdpservice.cpp
Owners: @LukaszReszka

Initial implementation of download operation
  server/CMakeLists.txt
  server/include/tds/protocol/client_context.hpp
  server/include/tds/protocol/default_command_executor.hpp
  server/include/tds/protocol/download_manager.hpp
  server/include/tds/protocol/download_token.hpp
  server/include/tds/protocol/execution/dl.hpp
  server/include/tds/protocol/execution/dls.hpp
  server/include/tds/protocol/protocol_code.hpp
  server/include/tds/protocol/server_context.hpp
  server/include/tds/server/client.hpp
  server/src/main.cpp
  server/src/protocol/client_context.cpp
  server/src/protocol/download_manager.cpp
  server/src/protocol/download_token.cpp
  server/src/protocol/execution/auth.cpp
  server/src/protocol/execution/dl.cpp
  server/src/protocol/execution/dls.cpp
  server/src/protocol/protocol_error.cpp
  server/src/protocol/server_context.cpp
  server/src/server/client.cpp
Owners: @JMazurkiewicz

Fixed download of big files
  server/src/protocol/download_manager.cpp
Owners: @JMazurkiewicz

Better abstractions - `FileDevice` and `trasfer_bytes`
  server/CMakeLists.txt
  server/include/tds/linux/file_device.hpp
  server/include/tds/linux/transfer_bytes.hpp
  server/include/tds/protocol/download_manager.hpp
  server/src/linux/file_device.cpp
  server/src/linux/transfer_bytes.cpp
  server/src/protocol/download_manager.cpp
Owners: @JMazurkiewicz

Drive-by: implemented `perms` command
  server/CMakeLists.txt
  server/include/tds/protocol/default_command_executor.hpp
  server/include/tds/protocol/execution/perms.hpp
  server/src/protocol/execution/perms.cpp
Owners: @JMazurkiewicz

Minor fixes
  server/include/tds/protocol/client_context.hpp
  server/include/tds/protocol/download_manager.hpp
  server/src/protocol/download_manager.cpp
Owners: @JMazurkiewicz

Implemented downloading (`dl` and `dls` commands) (#110)
  server/CMakeLists.txt
  server/include/tds/linux/file_device.hpp
  server/include/tds/linux/transfer_bytes.hpp
  server/include/tds/protocol/client_context.hpp
  server/include/tds/protocol/default_command_executor.hpp
  server/include/tds/protocol/download_manager.hpp
  server/include/tds/protocol/download_token.hpp
  server/include/tds/protocol/execution/dl.hpp
  server/include/tds/protocol/execution/dls.hpp
  server/include/tds/protocol/execution/perms.hpp
  server/include/tds/protocol/protocol_code.hpp
  server/include/tds/protocol/server_context.hpp
  server/include/tds/server/client.hpp
  server/src/linux/file_device.cpp
  server/src/linux/transfer_bytes.cpp
  server/src/main.cpp
  server/src/protocol/client_context.cpp
  server/src/protocol/download_manager.cpp
  server/src/protocol/download_token.cpp
  server/src/protocol/execution/auth.cpp
  server/src/protocol/execution/dl.cpp
  server/src/protocol/execution/dls.cpp
  server/src/protocol/execution/perms.cpp
  server/src/protocol/protocol_error.cpp
  server/src/protocol/server_context.cpp
  server/src/server/client.cpp
Owners: @JMazurkiewicz

Implemented `tree` command
  server/CMakeLists.txt
  server/include/tds/protocol/default_command_executor.hpp
  server/include/tds/protocol/execution/tree.hpp
  server/src/protocol/execution/tree.cpp
Owners: @JMazurkiewicz

.github/CODEOWNERS:

# Global owners
* @JMazurkiewicz @dam1508 @annapyrka @LukaszReszka

# Workflows and README
/.github/workflows/ @JMazurkiewicz
/README.md @JMazurkiewicz

# Projects
/server/ @JMazurkiewicz
/mobile/ @dam1508
/desktop/ @annapyrka
/cli/ @LukaszReszka
