Repository JMazurkiewicz/TinDox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JMazurkiewicz, @dam1508, @annapyrka, @LukaszReszka

Secured `.tds` directory
  server/include/tds/protocol/protocol_code.hpp
  server/include/tds/protocol/server_context.hpp
  server/src/protocol/execution/ls.cpp
  server/src/protocol/execution/path_based_command.cpp
  server/src/protocol/execution/tree.cpp
  server/src/protocol/protocol_error.cpp
  server/src/protocol/server_context.cpp
Owners: @JMazurkiewicz

Simpler `.tds` filtering
  server/src/protocol/execution/ls.cpp
Owners: @JMazurkiewicz

Implemented secure `rm` command
  server/CMakeLists.txt
  server/include/tds/protocol/auth_token.hpp
  server/include/tds/protocol/client_context.hpp
  server/include/tds/protocol/default_command_executor.hpp
  server/include/tds/protocol/execution/rm.hpp
  server/include/tds/protocol/protocol_code.hpp
  server/include/tds/protocol/server_context.hpp
  server/src/protocol/auth_token.cpp
  server/src/protocol/client_context.cpp
  server/src/protocol/execution/rm.cpp
  server/src/protocol/protocol_error.cpp
  server/src/protocol/server_context.cpp
Owners: @JMazurkiewicz

Implemented `rename` function
  server/CMakeLists.txt
  server/include/tds/protocol/default_command_executor.hpp
  server/include/tds/protocol/execution/rename.hpp
  server/src/protocol/execution/rename.cpp
Owners: @JMazurkiewicz

Added copy couting
  server/src/protocol/execution/cp.cpp
Owners: @JMazurkiewicz

Drive-by: secured `mv` command
  server/src/protocol/execution/mv.cpp
Owners: @JMazurkiewicz

New commands (`rm`, `rename` and `tree`) and important security update (#111)
  server/CMakeLists.txt
  server/include/tds/protocol/auth_token.hpp
  server/include/tds/protocol/client_context.hpp
  server/include/tds/protocol/default_command_executor.hpp
  server/include/tds/protocol/execution/rename.hpp
  server/include/tds/protocol/execution/rm.hpp
  server/include/tds/protocol/execution/tree.hpp
  server/include/tds/protocol/protocol_code.hpp
  server/include/tds/protocol/server_context.hpp
  server/src/protocol/auth_token.cpp
  server/src/protocol/client_context.cpp
  server/src/protocol/execution/cp.cpp
  server/src/protocol/execution/ls.cpp
  server/src/protocol/execution/mv.cpp
  server/src/protocol/execution/path_based_command.cpp
  server/src/protocol/execution/rename.cpp
  server/src/protocol/execution/rm.cpp
  server/src/protocol/execution/tree.cpp
  server/src/protocol/protocol_error.cpp
  server/src/protocol/server_context.cpp
Owners: @JMazurkiewicz

added tree commnad
  cli/src/main.cpp
  cli/src/tdpservice/responseanalyzer.cpp
  cli/src/tdpservice/responseanalyzer.h
  cli/src/tdpservice/tdpservice.cpp
  cli/src/tdpservice/tdpservice.h
Owners: @LukaszReszka

added tree commnad (#112)
  cli/src/main.cpp
  cli/src/tdpservice/responseanalyzer.cpp
  cli/src/tdpservice/responseanalyzer.h
  cli/src/tdpservice/tdpservice.cpp
  cli/src/tdpservice/tdpservice.h
Owners: @LukaszReszka

Implemented `--debug` flag
  server/include/tds/cli/run_command.hpp
  server/src/cli/run_command.cpp
Owners: @JMazurkiewicz

Updated help info
  server/src/cli/help_command.cpp
Owners: @JMazurkiewicz

Implemented debug mode (#113)
  server/include/tds/cli/run_command.hpp
  server/src/cli/help_command.cpp
  server/src/cli/run_command.cpp
Owners: @JMazurkiewicz

Updated `.gitattributes`
  .gitattributes
Owners: @JMazurkiewicz, @dam1508, @annapyrka, @LukaszReszka

Implemented auth limit
  server/include/tds/protocol/client_context.hpp
  server/include/tds/protocol/execution/auth.hpp
  server/src/protocol/client_context.cpp
  server/src/protocol/execution/auth.cpp
Owners: @JMazurkiewicz

Implemented limit for `auth` command (#115)
  server/include/tds/protocol/client_context.hpp
  server/include/tds/protocol/execution/auth.hpp
  server/src/protocol/client_context.cpp
  server/src/protocol/execution/auth.cpp
Owners: @JMazurkiewicz

Added CPack configuration for DEB packages
  .github/workflows/server.yaml
  server/CMakeLists.txt
  server/README.md
  server/cmake/install.cmake
Owners: @JMazurkiewicz

Release script
  .github/workflows/release.yaml
Owners: @JMazurkiewicz

Improved README
  server/README.md
Owners: @JMazurkiewicz

CD for server (#116)
  .github/workflows/release.yaml
  .github/workflows/server.yaml
  server/CMakeLists.txt
  server/README.md
  server/cmake/install.cmake
Owners: @JMazurkiewicz

Fixed `docs` CI
  .github/workflows/docs.yaml
Owners: @JMazurkiewicz

Fixed release script
  .github/workflows/release.yaml
Owners: @JMazurkiewicz

Update of workflows (#117)
  .github/workflows/docs.yaml
  .github/workflows/release.yaml
Owners: @JMazurkiewicz

Implemented 'upload_max_size' configuration
  server/include/tds/config/defaults.hpp
  server/include/tds/config/server_config.hpp
  server/src/config/config_reader.cpp
  server/src/config/defaults.cpp
  server/src/config/server_config.cpp
  server/src/protocol/client_context.cpp
Owners: @JMazurkiewicz

Drive-by: removed extra space in `install.cmake`
  server/cmake/install.cmake
Owners: @JMazurkiewicz

Implemented path lock
  server/CMakeLists.txt
  server/cmake/unit_tests.cmake
  server/include/tds/protocol/path_lock.hpp
  server/src/protocol/path_lock.cpp
  server/tests/unit/protocol/path_lock_test.cpp
Owners: @JMazurkiewicz

Implemented path locking in `ServerContext`
  server/cmake/unit_tests.cmake
  server/include/tds/protocol/server_context.hpp
  server/src/protocol/execution/cd.cpp
  server/src/protocol/execution/cp.cpp
  server/src/protocol/execution/ls.cpp
  server/src/protocol/execution/mv.cpp
  server/src/protocol/execution/path_based_command.cpp
  server/src/protocol/execution/pwd.cpp
  server/src/protocol/execution/rename.cpp
  server/src/protocol/execution/rm.cpp
  server/src/protocol/execution/tree.cpp
  server/src/protocol/server_context.cpp
  server/tests/unit/protocol/path_lock_test.cpp
  server/tests/unit/protocol/server_context_test.cpp
Owners: @JMazurkiewicz

Fixed wrong usage of `cli::InitCommand` in `ServerContext` test
  server/tests/unit/protocol/server_context_test.cpp
Owners: @JMazurkiewicz

Added ability to change locked path in PathLock
  server/include/tds/protocol/path_lock.hpp
  server/src/protocol/path_lock.cpp
  server/tests/unit/protocol/path_lock_test.cpp
Owners: @JMazurkiewicz

Removed client\'s path from AuthToken
  server/include/tds/protocol/auth_token.hpp
  server/include/tds/protocol/client_context.hpp
  server/include/tds/protocol/server_context.hpp
  server/src/protocol/auth_token.cpp
  server/src/protocol/client_context.cpp
  server/src/protocol/execution/auth.cpp
  server/src/protocol/server_context.cpp
Owners: @JMazurkiewicz

Fixed `ServerContext` test
  server/tests/unit/protocol/server_context_test.cpp
Owners: @JMazurkiewicz

DownloadToken revision
  server/include/tds/protocol/download_token.hpp
  server/include/tds/protocol/server_context.hpp
  server/src/protocol/download_token.cpp
  server/src/protocol/execution/dl.cpp
  server/src/protocol/server_context.cpp
Owners: @JMazurkiewicz

Fixed `ServerContext` test (again)
  server/tests/unit/protocol/server_context_test.cpp
Owners: @JMazurkiewicz

Fixed `DownloadToken` constructor
  server/src/protocol/download_token.cpp
Owners: @JMazurkiewicz

Fixed lock checking
  server/src/protocol/path_lock.cpp
Owners: @JMazurkiewicz

Fixed `PathLock` tests
  server/include/tds/protocol/download_token.hpp
  server/tests/unit/protocol/path_lock_test.cpp
Owners: @JMazurkiewicz

Fixed `ServerContext` test (for the 3rd time)
  server/tests/unit/protocol/server_context_test.cpp
Owners: @JMazurkiewicz

Implemented definitions of upload-related classes
  server/CMakeLists.txt
  server/include/tds/protocol/execution/ul.hpp
  server/include/tds/protocol/upload_manager.hpp
  server/include/tds/protocol/upload_token.hpp
  server/src/protocol/upload_token.cpp
Owners: @JMazurkiewicz

Fixed `PathLock` test
  server/tests/unit/protocol/path_lock_test.cpp
Owners: @JMazurkiewicz

Implemented interface for `ul` command
  server/CMakeLists.txt
  server/include/tds/protocol/client_context.hpp
  server/include/tds/protocol/default_command_executor.hpp
  server/include/tds/protocol/execution/ul.hpp
  server/include/tds/protocol/upload_manager.hpp
  server/src/protocol/client_context.cpp
  server/src/protocol/execution/ul.cpp
  server/src/protocol/upload_manager.cpp
Owners: @JMazurkiewicz

Type fixes
  server/include/tds/protocol/execution/ul.hpp
  server/include/tds/protocol/server_context.hpp
  server/include/tds/protocol/upload_manager.hpp
  server/include/tds/protocol/upload_token.hpp
  server/src/protocol/execution/ul.cpp
  server/src/protocol/server_context.cpp
  server/src/protocol/upload_manager.cpp
  server/src/protocol/upload_token.cpp
Owners: @JMazurkiewicz

.github/CODEOWNERS:

# Global owners
* @JMazurkiewicz @dam1508 @annapyrka @LukaszReszka

# Workflows and README
/.github/workflows/ @JMazurkiewicz
/README.md @JMazurkiewicz

# Projects
/server/ @JMazurkiewicz
/mobile/ @dam1508
/desktop/ @annapyrka
/cli/ @LukaszReszka
