Repository JMazurkiewicz/TinDox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JMazurkiewicz, @dam1508, @annapyrka, @LukaszReszka

File upload is now supported by ServerContext
  server/include/tds/protocol/execution/ul.hpp
  server/include/tds/protocol/protocol_code.hpp
  server/include/tds/protocol/server_context.hpp
  server/include/tds/protocol/upload_manager.hpp
  server/include/tds/protocol/upload_token.hpp
  server/src/protocol/execution/ul.cpp
  server/src/protocol/protocol_error.cpp
  server/src/protocol/server_context.cpp
  server/src/protocol/upload_manager.cpp
  server/src/protocol/upload_token.cpp
Owners: @JMazurkiewicz

Implemented prototype of upload command
  server/include/tds/protocol/upload_manager.hpp
  server/include/tds/protocol/upload_token.hpp
  server/include/tds/server/client.hpp
  server/src/protocol/execution/ul.cpp
  server/src/protocol/server_context.cpp
  server/src/protocol/upload_manager.cpp
  server/src/protocol/upload_token.cpp
  server/src/server/client.cpp
Owners: @JMazurkiewicz

ProtocolCode tweaks
  server/include/tds/protocol/protocol_code.hpp
  server/src/protocol/protocol_error.cpp
  server/tests/unit/protocol/protocol_code_test.cpp
Owners: @JMazurkiewicz

Upload bug fixes
  server/include/tds/protocol/execution/command_executor.hpp
  server/src/protocol/execution/ul.cpp
  server/src/protocol/server_context.cpp
  server/src/protocol/upload_manager.cpp
  server/src/server/client.cpp
Owners: @JMazurkiewicz

Drive-by: fixed bug related to `path` field
  server/include/tds/protocol/protocol_code.hpp
  server/src/protocol/execution/path_based_command.cpp
  server/src/protocol/protocol_error.cpp
Owners: @JMazurkiewicz

Fixed typos
  server/src/server/client.cpp
Owners: @JMazurkiewicz

Drive-by: improved logging
  server/src/server/client.cpp
Owners: @JMazurkiewicz

Drive-by: implemented proper versioning
  server/CMakeLists.txt
  server/cmake/config.hpp.in
  server/include/tds/cli/version_command.hpp
  server/src/cli/help_command.cpp
  server/src/cli/version_command.cpp
  server/src/main.cpp
  server/src/server/client.cpp
Owners: @JMazurkiewicz

TinDox Server is now complete (version 0.1.0)
  server/CMakeLists.txt
Owners: @JMazurkiewicz

Fixed broken hyperlink in `CMakeLists.txt` and improved README
  server/CMakeLists.txt
  server/README.md
Owners: @JMazurkiewicz

Fixed upload for too large files
  server/include/tds/protocol/protocol_code.hpp
  server/include/tds/protocol/server_context.hpp
  server/include/tds/server/server.hpp
  server/src/cli/run_command.cpp
  server/src/protocol/protocol_error.cpp
  server/src/protocol/server_context.cpp
  server/src/server/server.cpp
  server/tests/unit/protocol/server_context_test.cpp
  server/tools/fmt
Owners: @JMazurkiewicz

Fix upload for too large files (#122)
  server/include/tds/protocol/protocol_code.hpp
  server/include/tds/protocol/server_context.hpp
  server/include/tds/server/server.hpp
  server/src/cli/run_command.cpp
  server/src/protocol/protocol_error.cpp
  server/src/protocol/server_context.cpp
  server/src/server/server.cpp
  server/tests/unit/protocol/server_context_test.cpp
  server/tools/fmt
Owners: @JMazurkiewicz

Fixed client modes
  server/include/tds/server/client.hpp
  server/src/protocol/protocol_error.cpp
  server/src/server/client.cpp
Owners: @JMazurkiewicz

Tweaks in `server` module
  server/include/tds/server/client_pool.hpp
  server/include/tds/server/client_service.hpp
  server/include/tds/server/client_service_supervisor.hpp
  server/include/tds/server/server.hpp
  server/src/server/client_pool.cpp
  server/src/server/client_service.cpp
  server/src/server/client_service_supervisor.cpp
  server/src/server/server.cpp
  server/tools/fmt
Owners: @JMazurkiewicz

Fixed critical error + added extra exception protection And added new intergration test
  server/cmake/integration_tests.cmake
  server/src/server/client_service_supervisor.cpp
  server/tests/integration/cli_tests/help.sh
  server/tests/integration/cli_tests/init.sh
  server/tests/integration/cli_tests/run.sh
  server/tests/integration/cli_tests/user.sh
  server/tests/integration/cli_tests/version.sh
  server/tests/integration/request_tests/auth.sh
Owners: @JMazurkiewicz

Drive-by: changed `rm` command result
  server/src/protocol/execution/rm.cpp
Owners: @JMazurkiewicz

Fixed minor bug
  server/src/protocol/protocol_interpreter.cpp
  server/src/server/client.cpp
Owners: @JMazurkiewicz

IMPORTANT: fixes serious interpreter error
  server/include/tds/protocol/protocol_interpreter.hpp
  server/src/protocol/protocol_interpreter.cpp
  server/src/server/client.cpp
  server/tests/unit/protocol/protocol_interpreter_test.cpp
Owners: @JMazurkiewicz

Fixed bug related to `max_thread_count` configuration
  server/src/server/client_service.cpp
Owners: @JMazurkiewicz

Fixed interrupting download
  server/src/ip/tcp_socket.cpp
  server/src/protocol/download_manager.cpp
  server/tests/unit/protocol/protocol_interpreter_test.cpp
Owners: @JMazurkiewicz

Fixed some bugs (#123)
  server/cmake/integration_tests.cmake
  server/include/tds/protocol/protocol_interpreter.hpp
  server/include/tds/server/client.hpp
  server/include/tds/server/client_pool.hpp
  server/include/tds/server/client_service.hpp
  server/include/tds/server/client_service_supervisor.hpp
  server/include/tds/server/server.hpp
  server/src/ip/tcp_socket.cpp
  server/src/protocol/download_manager.cpp
  server/src/protocol/execution/rm.cpp
  server/src/protocol/protocol_error.cpp
  server/src/protocol/protocol_interpreter.cpp
  server/src/server/client.cpp
  server/src/server/client_pool.cpp
  server/src/server/client_service.cpp
  server/src/server/client_service_supervisor.cpp
  server/src/server/server.cpp
  server/tests/integration/cli_tests/help.sh
  server/tests/integration/cli_tests/init.sh
  server/tests/integration/cli_tests/run.sh
  server/tests/integration/cli_tests/user.sh
  server/tests/integration/cli_tests/version.sh
  server/tests/integration/request_tests/auth.sh
  server/tests/unit/protocol/protocol_interpreter_test.cpp
  server/tools/fmt
Owners: @JMazurkiewicz

More unit tests
  server/cmake/unit_tests.cmake
  server/src/config/defaults.cpp
  server/src/linux/file_device.cpp
  server/tests/unit/cli/cli_error_test.cpp
  server/tests/unit/cli/init_command_test.cpp
  server/tests/unit/cli/version_command_test.cpp
  server/tests/unit/command/command_executor_test.cpp
  server/tests/unit/command/command_test.cpp
  server/tests/unit/config/defaults_test.cpp
  server/tests/unit/config/server_config_test.cpp
  server/tests/unit/ip/socket_type_test.cpp
  server/tests/unit/linux/event_type_test.cpp
  server/tests/unit/linux/file_device_test.cpp
  server/tests/unit/linux/hash_test.cpp
  server/tests/unit/linux/transfer_bytes_test.cpp
Owners: @JMazurkiewicz

added field
  desktop/src/JavaClientGUI.java
Owners: @annapyrka

Socket singleton and command handling
  mobile/app/src/main/AndroidManifest.xml
  mobile/app/src/main/java/com/example/mobileclient/CommandActivity.kt
  mobile/app/src/main/java/com/example/mobileclient/MainActivity.kt
  mobile/app/src/main/java/com/example/mobileclient/SocketHandler.kt
  mobile/app/src/main/res/layout/activity_command.xml
  mobile/app/src/main/res/layout/activity_main.xml
Owners: @dam1508

working client
  desktop/out/production/tinclient/JavaClientGUI.class
  desktop/out/production/tinclient/client.class
  desktop/out/production/tinclient/com/intellij/uiDesigner/core/Util.class
  desktop/out/production/tinclient/server.class
  desktop/src/JavaClientGUI.form
  desktop/src/JavaClientGUI.java
  desktop/src/client.java
  desktop/src/server.java
Owners: @annapyrka

working client (#126)
  desktop/out/production/tinclient/JavaClientGUI.class
  desktop/out/production/tinclient/client.class
  desktop/out/production/tinclient/com/intellij/uiDesigner/core/Util.class
  desktop/out/production/tinclient/server.class
  desktop/src/JavaClientGUI.form
  desktop/src/JavaClientGUI.java
  desktop/src/client.java
  desktop/src/server.java
Owners: @annapyrka

cleanup
  mobile/app/src/main/java/com/example/mobileclient/CommandActivity.kt
  mobile/app/src/main/java/com/example/mobileclient/MainActivity.kt
  mobile/app/src/main/java/com/example/mobileclient/SocketHandler.kt
  mobile/app/src/main/res/layout/activity_main.xml
Owners: @dam1508

Drive-by: fixed #128
  server/include/tds/protocol/download_token.hpp
  server/include/tds/protocol/execution/dl.hpp
  server/include/tds/protocol/execution/dls.hpp
  server/src/protocol/client_context.cpp
  server/src/protocol/download_token.cpp
  server/src/protocol/execution/dl.cpp
  server/src/protocol/execution/dls.cpp
Owners: @JMazurkiewicz

More integration tests
  server/cmake/integration_tests.cmake
  server/tests/integration/request_tests/cd.sh
  server/tests/integration/request_tests/rename.sh
  server/tests/integration/request_tests/rm.sh
  server/tests/unit/protocol/protocol_interpreter_test.cpp
Owners: @JMazurkiewicz

Added `--verbose` flag to integration tests
  .github/workflows/server.yaml
Owners: @JMazurkiewicz

Fixed `rename`'s error codes
  server/src/protocol/execution/rename.cpp
Owners: @JMazurkiewicz

Removed `ProtocolCode.hpp` header
  server/cmake/integration_tests.cmake
  server/include/tds/protocol/execution/command_executor.hpp
  server/include/tds/protocol/protocol_code.hpp
  server/include/tds/protocol/protocol_error.hpp
  server/src/protocol/client_context.cpp
  server/src/protocol/execution/auth.cpp
  server/src/protocol/execution/cp.cpp
  server/src/protocol/execution/dls.cpp
  server/src/protocol/execution/rename.cpp
  server/src/protocol/execution/rm.cpp
  server/src/protocol/execution/ul.cpp
  server/src/protocol/field.cpp
  server/src/protocol/protocol_error.cpp
  server/src/protocol/server_context.cpp
  server/src/server/client.cpp
  server/tests/unit/protocol/protocol_code_test.cpp
  server/tests/unit/protocol/protocol_interpreter_test.cpp
Owners: @JMazurkiewicz

Implemented basic fuzzing for ProtocolInterpreter
  server/tests/unit/protocol/protocol_code_test.cpp
  server/tests/unit/protocol/protocol_interpreter_test.cpp
Owners: @JMazurkiewicz

Drive-by: client cannot upload file that does not fit on disk
  server/src/protocol/server_context.cpp
Owners: @JMazurkiewicz

Version bump
  server/CMakeLists.txt
Owners: @JMazurkiewicz

Minor tweaks
  server/include/tds/protocol/server_context.hpp
  server/src/main.cpp
  server/src/protocol/server_context.cpp
  server/src/server/client.cpp
  server/src/server/client_service.cpp
Owners: @JMazurkiewicz

Reimplemented `ClientPool` with `std::shared_mutex`
  server/include/tds/server/client_pool.hpp
  server/src/server/client_pool.cpp
Owners: @JMazurkiewicz

Adapted `std::shared_mutex` in `ServerContext`
  server/include/tds/protocol/path_lock.hpp
  server/include/tds/protocol/server_context.hpp
  server/src/protocol/path_lock.cpp
  server/src/protocol/server_context.cpp
Owners: @JMazurkiewicz

Added extra `const` in `ServerContext`
  server/include/tds/protocol/server_context.hpp
  server/src/protocol/server_context.cpp
Owners: @JMazurkiewicz

Replaced `lock_guard` with `scoped_lock`
  server/src/protocol/server_context.cpp
  server/src/server/client_pool.cpp
Owners: @JMazurkiewicz

.github/CODEOWNERS:

# Global owners
* @JMazurkiewicz @dam1508 @annapyrka @LukaszReszka

# Workflows and README
/.github/workflows/ @JMazurkiewicz
/README.md @JMazurkiewicz

# Projects
/server/ @JMazurkiewicz
/mobile/ @dam1508
/desktop/ @annapyrka
/cli/ @LukaszReszka
